trigger:

- main
 
pool:

  vmImage: ubuntu-latest
 
steps:
 
- task: Docker@2

  inputs:

    containerRegistry: 'acrrm554826'

    repository: 'acr'

    command: 'buildAndPush'

    Dockerfile: '**/Dockerfile'

    tags: |

      $(Build.BuildId)

      latest
 